{% extends 'base.html.twig' %}

{% block title %} About Us {% endblock %}

{% block body %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h1 class="display-3 text-white animated slideInDown">Discover Our Learning Platform</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Pages</a>
                </li>
                <li
                  class="breadcrumb-item text-white active"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                <h5 class="mb-3">Expert Instructors</h5>
                <p>
                  Learn from skilled instructors who are experts in their fields.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                <h5 class="mb-3">Online Classes</h5>
                <p>
                  Access high-quality education from anywhere with our online classes.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-home text-primary mb-4"></i>
                <h5 class="mb-3">Hands-On Projects</h5>
                <p>
                  Apply your knowledge through hands-on projects for practical experience.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                <h5 class="mb-3">e-Library Access</h5>
                <p>
                  Explore our extensive e-Library for additional learning resources.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div
            class="col-lg-6 wow fadeInUp"
            data-wow-delay="0.1s"
            style="min-height: 400px"
          >
            <div class="position-relative h-100">
              <img
                class="img-fluid position-absolute w-100 h-100"
                src="{{ asset('build/images/about.5f8b4861.jpg') }}"
                alt=""
                style="object-fit: cover"
              />
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">
              About Us
            </h6>
            <h1 class="mb-4">Welcome to Jagaad Academy</h1>
            <p class="mb-4">
              Embark on a journey of discovery with Jagaad Academy, your gateway to a world of knowledge and learning. 
              Dive into a diverse range of courses designed to enrich your mind and elevate your skills. Our online learning platform is crafted to provide you with an immersive and engaging educational experience.
            </p>
            <p class="mb-4">
              Uncover new insights, acquire valuable skills, and connect with a community of learners from around the globe. Whether you're a seasoned professional or a curious enthusiast, Jagaad Academy is here to support your continuous learning journey. Join us, and let the pursuit of knowledge lead you to new horizons.
            </p>
            <div class="row gy-2 gx-4 mb-4">
              <div class="col-sm-6">
                <p class="mb-0">
                  <i class="fa fa-arrow-right text-primary me-2"></i>Expert Instructors
                </p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">
                  <i class="fa fa-arrow-right text-primary me-2"></i>Online Classes
                </p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">
                  <i class="fa fa-arrow-right text-primary me-2"></i>Hands-On Projects
                </p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">
                  <i class="fa fa-arrow-right text-primary me-2"></i>e-Library Access
                </p>
              </div>
            </div>
            <a class="btn btn-primary py-3 px-5 mt-2" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

{% endblock %}
