{% extends 'base.html.twig' %}

{% block title %}
  Home
{% endblock %}

{% block body %}

  {% for course in courses %}
    <li>{{ course }} </li>
  {% endfor %}

  {% for instructor in instructors %}
    <li>{{ instructor }} </li>
  {% endfor %}

  {% for testimonial in testimonials %}
    <li>{{ testimonial }} </li>
  {% endfor %}
{% endblock %}
