{% extends 'base.html.twig' %}

{% block title %}Edit CoursesCategory{% endblock %}

{% block body %}
    <h1>Edit CoursesCategory</h1>

    {{ include('courses_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_courses_category_index') }}">back to list</a>

    {{ include('courses_category/_delete_form.html.twig') }}
{% endblock %}
