{% extends 'base.html.twig' %}

{% block title %}New CoursesCategory{% endblock %}

{% block body %}
    <h1>Create new CoursesCategory</h1>

    {{ include('courses_category/_form.html.twig') }}

    <a href="{{ path('app_courses_category_index') }}">back to list</a>
{% endblock %}
