<form method="post" action="{{ path('app_courses_chapter_delete', {'slug': chapter.courses.slug, 'chapterslug': chapter.chapterslug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapter.id) }}">
    <button class="btn btn-danger btn-sm rounded"><i class="fas fa-trash"></i> Delete</button>
</form>
